.contenido {
  display: grid;
  align-items: flex-start;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .contenido {
    grid-template-columns: 3fr 2fr;
  }
}

.carrito {
  padding: 3rem;
}

.resumen {
  background-color: #ececec;
  padding: 3rem;
  border-radius: 1rem;
  position: sticky;
  top: 3rem;
}

.producto {
  width: 48rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
  align-items: center;
  border-bottom: 1px solid #979797;
  padding: 5rem ;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  margin-bottom: 3rem;
  position: relative;
}

.producto p {
  margin: 0 0 1rem 0;
}

.select {
  all: unset;
  width: 15rem;
  height: 3rem;
  border: 2px solid var(--primary);
  border-radius: 1rem;
  padding: 0 1rem;
  color: var(--black);
  text-align: center;
}

.producto span {
  font-weight: 900;
  font-size: 3.2rem;
}

.nombre {
  font-weight: 700;
  font-size: 3.2rem;
}

.precio {
  font-weight: 700;
  color: var(--primary);
}

.subtotal {
  font-size: 2.2rem;
}

.total span {
  font-size: 2.4rem;
  font-weight: 700;
}

.butonEliminar {
  all: unset;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.butonEliminar:hover {
  cursor: pointer;
}
